<!DOCTYPE html>
<html>
<head>
  <title><%= @titre %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="container" class="span9">
<div id="container" class="span6">
<% if book_signed_in? %>
  Logged in as <strong><%= current_book.email %></strong>.
  <%= link_to 'Edit profile', edit_book_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_book_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_book_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_book_session_path, :class => 'navbar-link'  %>
<% end %>
</div>
<div id="flashs">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
</div>
<div class="span4">
	<ul class = "nav">
		<li><%= link_to "index", root_path %></li>
		<li><%= link_to "consult", consult_path %></li>
		<li><%= link_to "admin", admin_path %></li>
		<li><%= link_to "login", login_path %></li>
		<li><%= link_to "logueur", logueur_path %></li>
	</ul>	
</div>
<%= yield %>

</body>
</html>
